<section class="layout">
  <aside class="sidebar">
    <h3 class="menu-title">{{ 'app.title' | i18n}}</h3>
    <nav class="menu">
      <a [routerLink]="['/']" routerLinkActive="active">Home</a>
      <a [routerLink]="['/alias']" routerLinkActive="active">Alias</a>
      <a [routerLink]="['/service']" routerLinkActive="active">Service</a>
      <a [routerLink]="['/todo']" routerLinkActive="active">Todo</a>
    </nav>
  </aside>
  <section class="page">
<main class="main">
  <section class="section-pad">
    <h1>{{ 'app.title' | i18n }}</h1>
    <router-outlet></router-outlet>
  </section>
</main>
  </section>
</section>
<router-outlet />
